<% include ../partials/header %>

<div class="content container">
    <div class="row">
        <div class="hike-form">
            <h1 class="hike-form-heading">Create a new Hike</h1>
            <form action="/hikes" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="duration" placeholder="Duration (Hours)" min="0.1" step="0.1" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="length" placeholder="Length (km)" min="0.1" step="0.1" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="elevation" placeholder="Elevation Gain (m)" min="0.0" step="1.0" required>
                </div>
                <div>
                  <p class="form-heading"><strong>Difficulty:</strong></p>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="difficulty" value="Easy"> Easy
                  </label>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="difficulty" value="Medium"> Medium
                  </label>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="difficulty" value="Hard"> Hard
                  </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image url" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="amenities" placeholder="Amenities" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" placeholder="Description" required></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="directions" placeholder="Directions" required></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Location/Address" required>
                </div>
                <div class="form-group dropdown">
                  <select name="region" class="form-control" required>
                    <option value="vancouvercoast">Vancouver Coast & Mountains</option>
                    <option value="vancouverisland">Vancouver Island</option>
                    <option value="thompsonokanagan">Thompson Okanagan</option>
                    <option value="cariboochilcotin">Cariboo Chilcotin</option>
                    <option value="kootenayrockies">Kootenay Rockies</option>
                    <option value="northernbc">Northern BC</option>
                  </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/hikes">Go back</a>
        </div>
    </div>
</div>

<ul class="background">
      <li></li>
</ul>

<% include ../partials/footer %>
