<% include partials/header %>


<div id="login-content" class="container text-center">
    <h1>Login Page!</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login!">
    </form>
</div>

<ul class="slideshow">
      <li></li>
</ul>

<% include partials/footer %>
